<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.PortMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		port_code,
		port_name,
		port_en_name,
		country,
		country_en_name,
		route,
		description
	</sql>
	
	<select id="findPortPage" resultType="com.lanyuan.entity.Port">
		select
		<include refid="selectId" />
		from ly_port
		where 1 = 1
		<if test="port_name != null and port_name != ''">
		and port_name like '%${port_name}%'
		</if>
		<if test="country !=null and country != ''">
		and country like '%${country}%'
		</if>
		<if test="route !=null and route != ''">
		and route like '%${route}%'
		</if>
		
		order by id
	</select>
	
	
</mapper>